<!DOCTYPE html>
<html lang="en">
<head>
    {% include "/partial/header.twig" with {"title": "404 Not Found"}%}
</head>
<body>
    <div class="m-auto fs-3" style="color: white">
        Không tìm thấy trang. Trở về <a href="/" style="color: #0d6efd">Trang chủ</a>
    </div>
</body>
</html>