<div class="position-fixed w-100" style="background-color: white; padding: 4px">
    <h1 class="text-center" style="margin: 0 auto; color: black">
        <a href="/" style="color: black; text-decoration: none">
            VABook
        </a>
    </h1>
</div>